In [1]:
import pandas as pd
import numpy as np

In [2]:

df = pd.DataFrame( 

 
 {"name" : ["Mary","John","Bob","Mel","Jen","Sue","Ken","Dave","Beth","Ray"],
   "payRate" : [15,22,35,43,17,29,40,20,37,16.5],
    "hoursWorked" : [40,25,4,62,33,45,36,17,37,80]},
    index = [1,2,3,4,5,6,7,8,9,10])
df.head()

   name  payRate  hoursWorked
1  Mary     15.0           40
2  John     22.0           25
3   Bob     35.0            4
4   Mel     43.0           62
5   Jen     17.0           33

In [6]:
emplyeeList = [ {'id': "001", 'name':"Mary", 'payRate':15, 'workHour': 40},
{'id': "002", 'name':"John", 'payRate':22, 'workHour': 25},
{'id': "003", 'name':"Bob", 'payRate':35, 'workHour': 4},
{'id': "004", 'name':"Mel", 'payRate':43, 'workHour': 62},
{'id': "005", 'name':"Jen", 'payRate':17, 'workHour': 33},
{'id': "006", 'name':"Sue", 'payRate':29, 'workHour': 45},
{'id': "007", 'name':"Ken", 'payRate':40, 'workHour': 36},
{'id': "008", 'name':"Dave", 'payRate':20, 'workHour': 17},
{'id': "009", 'name':"Beth", 'payRate':37, 'workHour': 37},
{'id': "010", 'name':"Ray", 'payRate':16.5, 'workHour': 80}
]

In [12]:
for employee in emplyeeList:
    if employee['workHour']<=40:
        salary = employee['payRate']*employee['workHour']
        print("name:", employee['name'], " salary:" , salary)
    elif employee['workHour'] >40:
        salary = employee['payRate']*40 + (1.5*employee['payRate'])*(employee['workHour']-40)
     
        print("name:", employee['name'], " salary:" , salary)

name: Mary  salary: 600
name: John  salary: 550
name: Bob  salary: 140
name: Mel  salary: 3139.0
name: Jen  salary: 561
name: Sue  salary: 1377.5
name: Ken  salary: 1440
name: Dave  salary: 340
name: Beth  salary: 1369
name: Ray  salary: 1650.0